<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Delivery</title>
</head>
<body>
	<div style="position: relative; width: 100%">
		<div style="position: relative;width: 1000px;margin: 0 auto;padding-bottom: 1px;">
			<div style="margin: 10px 10px 10px 10px;background-color: #92E0F7;padding: 10px;font-size: 28px;position: relative;top: 10px;">DELIVERY FROM VINNI AND CO</div>
			<div style="padding: 40px;font-size: 19px;	">
			</div>
			<div style="text-align: center;color: black;font-size: 16px;padding: 13px;font-weight: 300;margin: 10px;background-color: #92E0F7;">© 2016 EPAM Systems. Design by Ihor Bohdanov</div>
		</div>
	</div>
</body>
</html>